
@font-face {
    font-family: 'flight';
    src: local('GE_SS_Two_Light'), url(./assets/fonts/GE_SS_Two_Light.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'fbold';
    font-weight: bold;
    src: local('GE_SS_Two_Bold'), url(./assets/fonts/GE_SS_Two_Bold.otf) format('opentype');
  }

  h1 {
    font-family: fbold, sans-serif !important;
  }
  h2, p, h3, span, a, h4, h5, div {
    font-family: flight, sans-serif !important;
  }
  .ss {
    font-family: flight, sans-serif !important;
    color: #fff;
  }
  


.image-mans{
    background-image: url(./assets/office.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.mans-mg{
    background-image: url(./assets/office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.contentblockpanel .panel.description.newcourses{
   
}

.card-blue-in-section-fetsured{
    z-index: 999;
    position: absolute;
    right: -40px;
}
.card-blue-in-courses{
    margin-left: 20px !important;
}
.tabmodule_B .tabContent{
    padding: 0 !important;
}

.vcv{
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
  height: 100%;
  width: 100%
}

.vbvb{
  display: flex;
  
}